@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --color-yellow: #f4eeb4;
    --color-green: #acc4a0;
    --color-medium-green: #55897d;
    --color-dark-green: #425454;
    --color-brown: #7b564e;
    --color-white: #fff;
    --color-black: #494949;
    --font-sm: 1rem;
    --font-md: 1.2rem;
    --font-lg: 1.4rem;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

nav {
    background-color: #2EA6DE;
    position: fixed;
    width: 100%;
}

nav .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

nav .logo img {
    height: 70px;
    width: auto;
    border-radius: 40px;
}

.login {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    background-color: white;
}

.login .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
}

.login .form-container .logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;
    margin-bottom: 5px;
}

.login .form-container h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.login .form-container .form {
    display: flex;
    flex-direction: column;
}

.login .form-container .form .label {
    font-size: var(--font-sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.login .form-container .form .input {
    background-color: var(--color-white);
    border: none;
    border-radius: 8px;
    height: 28px;
    font-size: var(--font-sm);
    padding: 4px;
    margin-bottom: 12px;
}

.login .form-container .form .primary-btn {
    background-color: #00FFFF;
    border-radius: 8px;
    border: none;
    color: black;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: var(--font-md);
    font-weight: bold;
    margin-bottom: 16px;
    transition: all 0.3s;
}

.login .form-container .form .prymeri-btn:hover {
    background-color: blue;
    background-color: var(--color-white);
}

.login .form-container .form a {
    text-decoration: none;
    color: black;
    font-size: var(--font-sm);
    text-align: center;
    margin-bottom: 52px;
}

a {
    text-decoration: none;
    color: black;
    font-size: var(--font-sm);
    text-align: center;
    margin-bottom: 52px;
}

.login .form-container .secondary-btn {
    background-color: #00FFFF;
    border-radius: 8px;
    border: 1px solid var(--color-medium-green);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: var(--font-md);
    font-weight: bold;
    margin-bottom: 16px;
    transition: all 0.3s;
}

.login .form-container .secondary-btn:hover {
    background-color: #26A5E1;
    color: var(--color-white);
}

@media(max-width: 640px) {
    nav .logo {
        display: none;
    }

    .login .form-container .logo {
        display: block;
        border-radius: 100px;
    }

    .login .form-container .secondary-btn {
        position: absolute;
        bottom: 24px;
        width: inherit;
    }
}